{% extends "layouts/base.html" %}
{% block body %}
<div class="container main">
    <div class="row">
        <input class="u-full-width" type="search" placeholder="filtreaza..">
        <table class="u-full-width" id="data-table">
          <thead>
            <tr>
              <th>Companie &uarr;</th>
              <th>Salariu &uarr;</th>
              <th>Pozitie &uarr;</th>
              <th>Oras &uarr;</th>
              <th>Ani experienta &uarr;</th>
              <th>Metoda colaborare &uarr;</th>
              <th>Data &uarr;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Oracle</td>
              <td>2300&euro;</td>
              <td>Javascript developer</td>
              <td>Iasi</td>
              <td>3</td>
              <td>PFA</td>
              <td>2020</td>
            </tr>
            <tr>
              <td>Apple</td>
              <td>1740&euro;</td>
              <td>PHP developer</td>
              <td>Bucuresti</td>
              <td>12</td>
              <td>Contract de munca</td>
              <td>2008</td>
            </tr>
            <tr>
              <td>Facebook</td>
              <td>5222&euro;</td>
              <td>Rust developer</td>
              <td>Bucuresti</td>
              <td>8</td>
              <td>Contract de munca</td>
              <td>2018</td>
            </tr>
            <tr>
              <td>E.ON</td>
              <td>1300&euro;</td>
              <td>Go developer</td>
              <td>Bucuresti</td>
              <td>5</td>
              <td>Contract de munca</td>
              <td>2015</td>
            </tr>
            <tr>
              <td>Vaslui</td>
              <td>3322&euro;</td>
              <td>Java developer</td>
              <td>Bucuresti</td>
              <td>7</td>
              <td>Contract de munca</td>
              <td>2013</td>
            </tr>
          </tbody>
        </table>
        <footer class="row bottom-nav">
            <a class="button bottom-nav-btn">Prev</a>
            <button class="button-primary bottom-nav-btn">Adauga</button>
            <a class="button bottom-nav-btn">Next</a>
        </footer>
    </div>
</div>
{% endblock %}
